<div>
	<div id='timer'>
		<h4 ng-if='timeUntilLunch' class='alert alert-success'>{{ timeUntilLunch | time }} until lunch.</h4>
		<h4 ng-if='!timeUntilLunch' class='alert alert-danger'>{{ timeAfterLunch | time }} after lunch.</h4>
	</div>
	<a href='/'>Back</a>
	<h4>Media credits</h4>
	<div class='attrButton btn-group btn-group-justified' ng-repeat='media in mediaAttribution'>
		<div class='btn-group'>
			<a ng-href='{{media.attributionLink}}' target='_blank'>
				<div class='btn btn-primary'>
					<img src='{{media.symbol}}'/> {{media.designer}}
			 	</div>
			</a>
		</div>
	</div>
</div>
