<div>
	<div id='timer'>
		<h4 ng-if='timeUntilLunch' class='alert alert-success'>{{ timeUntilLunch | time }}</h4>
		<h4 ng-if='!timeUntilLunch' class='alert alert-danger'>{{ timeAfterLunch | time }}</h4>
	</div>

	<div class='panel panel-default' ng-click='steps = !steps'>
		<div class='panel-body'>
			<span ng-show='steps' class='btn btn-default pull-right'>show miles</span>
			<span ng-show='!steps' class='btn btn-default pull-right'>show steps</span>		
		</div>
	</div>
	
	<h4 class='animated fadeIn'>Restaurants</h4>

	<div class='animated bounceInLeft panel panel-default' ng-repeat='rest in restaurants | orderBy:"-distance":true'>
		<div class='panel-body bg-primary active'>
			<span>{{ rest.name }}</span>
			<span ng-show='steps' class='badge pull-right'>{{ rest.distance * 2350 | number:0 }} steps</span>
			<span ng-show='!steps' class='badge pull-right'>{{ rest.distance | number:2 }} miles</span>
		</div>
	</div>
	<a href='/media'>Credits</a>
</div>
