body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {     
  color: #00B7FF;
}

.logo {
	width:50px;
}

.attrButton {
	max-width:300px;
}

.selected {
    color: #B0470A;
    background-color:red;
    vertical-align:bottom;
}

.pad {
	padding:15px;
}